* {
    box-sizing: border-box;
    margin: 0;
}

header, .section-1, footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
}

.info {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.section-3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}