/* Initial Styles */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, .section-1, footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.section-3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

a {
    text-decoration: none;
    color: inherit;
}

button:active {
    color: #3882F6;
    background-color: #F9FAF8;
}

/* Positioning */

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
}

.wrapper-H {
    display: flex;
    width: 1150px;
    margin-top: .5em;
}

nav {
    margin-left: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2em;
}

.section-1 {
    display: flex;
    height: 40vh;
    justify-content: center;
    gap: 50px;
}

.hero-text-box {
    width: 500px;
}

.img-placeholder {
    background-color: gray;
    width: 600px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 8em;
    height: 2em;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: .5em;
    margin-top: 10px;
}

.section-2 {
    display: flex;
    height: 55vh;
    justify-content: center;
    align-items: center;
}

.wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.info {
    margin-bottom: 2em;
}

.card-set {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.card {
    width: 200px;
    text-align: center;
}

.blue-square {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 1em;
}

.section-3 {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-3 {
    display: flex;
    flex-direction: column;
    margin-left: 25em;
    margin-right: 25em;
}

.author {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: auto;
}

.section-4 {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-text h4 {
    font-weight: bold;
    font-size: 2em;
}

.call-to-action button {
    border: 2px solid #E5E7EB;
    width: 150px;
    height: 40px;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}